/* These are all free photos, but i just wanted to credit the artist even though it was not  necessary */

html { 
 /*Photo by Tim Mossholder on Unsplash*/
    background: url(bgimg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.title{
float: left;
background-color: #606060;
color: white;
width: 60%;
height: 5%;
font-size: 200%;
margin-right: 100%

}
.instruct {
  margin-top: 3%;
  float: left;
  background-color: #adadad;
  color: white;
  width: 60%;
  height: 5%;
  font-size: 150%;
  margin-right: 100%;
  font-family: 'Times New Roman', Times, serif;
  }

.move{
 margin-top: 10%;
}


  #coffeepic1{
    /*Photo by Brigitte Tohm on UnsplashPhoto*/
  
    float: left;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    bottom: 0px;
    height: 200px; 
    width:200px;
    
  
  }

  #coffeepic2{
    /*Photo by frankie on Unsplash*/

    float: left;
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;
    bottom: 0px;
    height: 200px; 
    width:200px;
   
    
   
  }

  #coffeepic3{
    /*Photo by James Sutton on Unsplash*/

   
    float: left;
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;
    bottom: 0px;
    height: 200px; 
    width:200px;
    bottom: 0px;
    
  }

  #coffeepic4{
    /*Photo by George Kroeker on Unsplash*/
  
    float: left;
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;
    bottom: 0px;
    height: 200px; 
    width:200px;
    
  
  }