/* These are all free photos, but I just wanted to credit the artist even though it was not  necessary */

html { 
 /*Photo by Tim Mossholder on Unsplash*/
    background: url(./images/bgimg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.title{
float: left;
background-color: #606060;
color: white;
width: 60%;
height: 5%;
font-size: 200%;
margin-right: 100%

}
.instruct {
  margin-top: 3%;
  float: left;
  background-color: #adadad;
  color: white;
  width: 60%;
  height: 5%;
  font-size: 150%;
  margin-right: 100%;
  font-family: 'Times New Roman', Times, serif;
  }

  .display {
    margin-top: 3%;
    float: left;
    background-color:#4f9a5a;
    color: white;
    width: 25%;
    height: 3%;
    font-size: 250%;
    margin-right: 100%;
    font-family: 'Times New Roman', Times, serif;
    }

.move{
 margin-top: 10%;
}


  .coffeepic1{
    /*Photo by Brigitte Tohm on UnsplashPhoto*/
  
    float: left;
    margin: 5%;
    bottom: 0px;
    height: 10%; 
    width: 10%;
    
  
  }